services:
  app:
    image: segurastward/express-app:v1 
    ports:
      - "8080:8080"
    restart: always

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30  
    restart: always